<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jdk8.tenant.mybatis.system.mapper.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.example.jdk8.tenant.mybatis.system.entity.SysRole">
    <!--@mbg.generated-->
    <!--@Table sys_role-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="menu_rights" jdbcType="VARCHAR" property="menuRights" />
    <result column="node_rights" jdbcType="VARCHAR" property="nodeRights" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_del" jdbcType="BOOLEAN" property="isDel" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, role_name, description, menu_rights, node_rights, parent_id, `type`, create_time, 
    update_time, is_del
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from sys_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.jdk8.tenant.mybatis.system.entity.SysRole" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_role (role_name, description, menu_rights, 
      node_rights, parent_id, `type`, 
      create_time, update_time, is_del
      )
    values (#{roleName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{menuRights,jdbcType=VARCHAR}, 
      #{nodeRights,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, #{type,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{isDel,jdbcType=BOOLEAN}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.jdk8.tenant.mybatis.system.entity.SysRole" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleName != null and roleName != ''">
        role_name,
      </if>
      <if test="description != null and description != ''">
        description,
      </if>
      <if test="menuRights != null and menuRights != ''">
        menu_rights,
      </if>
      <if test="nodeRights != null and nodeRights != ''">
        node_rights,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleName != null and roleName != ''">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="description != null and description != ''">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="menuRights != null and menuRights != ''">
        #{menuRights,jdbcType=VARCHAR},
      </if>
      <if test="nodeRights != null and nodeRights != ''">
        #{nodeRights,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=BOOLEAN},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.jdk8.tenant.mybatis.system.entity.SysRole">
    <!--@mbg.generated-->
    update sys_role
    <set>
      <if test="roleName != null and roleName != ''">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="description != null and description != ''">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="menuRights != null and menuRights != ''">
        menu_rights = #{menuRights,jdbcType=VARCHAR},
      </if>
      <if test="nodeRights != null and nodeRights != ''">
        node_rights = #{nodeRights,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=BOOLEAN},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.jdk8.tenant.mybatis.system.entity.SysRole">
    <!--@mbg.generated-->
    update sys_role
    set role_name = #{roleName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      menu_rights = #{menuRights,jdbcType=VARCHAR},
      node_rights = #{nodeRights,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      `type` = #{type,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=BOOLEAN}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>