<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.jdk8.tenant.mybatis.system.mapper.SysTenantMapper">
  <resultMap id="BaseResultMap" type="com.example.jdk8.tenant.mybatis.system.entity.SysTenant">
    <!--@mbg.generated-->
    <!--@Table sys_tenant-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tenant_name" jdbcType="VARCHAR" property="tenantName" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_del" jdbcType="BOOLEAN" property="isDel" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, tenant_name, company_name, create_time, update_time, is_del
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sys_tenant
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from sys_tenant
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.jdk8.tenant.mybatis.system.entity.SysTenant" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_tenant (tenant_name, company_name, create_time, 
      update_time, is_del)
    values (#{tenantName,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{isDel,jdbcType=BOOLEAN})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.jdk8.tenant.mybatis.system.entity.SysTenant" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into sys_tenant
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tenantName != null and tenantName != ''">
        tenant_name,
      </if>
      <if test="companyName != null and companyName != ''">
        company_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tenantName != null and tenantName != ''">
        #{tenantName,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null and companyName != ''">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=BOOLEAN},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.jdk8.tenant.mybatis.system.entity.SysTenant">
    <!--@mbg.generated-->
    update sys_tenant
    <set>
      <if test="tenantName != null and tenantName != ''">
        tenant_name = #{tenantName,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null and companyName != ''">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=BOOLEAN},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.jdk8.tenant.mybatis.system.entity.SysTenant">
    <!--@mbg.generated-->
    update sys_tenant
    set tenant_name = #{tenantName,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=BOOLEAN}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>